html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    gap: 20px;
    padding: 3%;
}

.breadcrumb {
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
}

.breadcrumb ul {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
    margin: 0;
}

.breadcrumb ul li a {
    text-decoration: none;
    color: #000;
}

/* .btn {
    background: none;
    border: none;
    color: #000;
    width: 32px;
    height: 32px;
} */

.icon {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    border: none;
}

.cart-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    padding: 30px;
}

.cart-items {
    padding: 20px;
    margin: 20px;
}

.cart-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.order-summary {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
}

.summary-details {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 20px;

}

.qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f1f1f1;
    border-radius: 999px;
    padding: 10px 14px
}

.qty button {
    border: 0;
    background: transparent;
    font-size: 22px;
    cursor: pointer
}


.cart-button .pd-actions{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.cart-button .pd-actions .remove-button{
    background: none;
    border: none;
    color: #ff0000;
    width: 32px;
    height: 32px;
    align-self: flex-end;
}
.cart-button .pd-actions .remove-button .icon{
    width: 20px;
    height: 20px;
}

.summary-total-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

.summary-total-section button{
    margin: 0px 20px;
}

.button {
    border: 0;
    background: #111;
    color: #fff;
    padding: 14px 18px;
    border-radius: 999px;
    cursor: pointer;
    font-size: 16px
}
.input-code {
    display: flex;
    align-items: center;
    background-color: #F0F0F0;
    border-radius: 50px;
    padding: 5px;
    margin: 0px 20px;
}

.input-code .icon {
    color: #909090;
    width: 24px;
    height: 24px;
}
.promo-code {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: none;
    background: transparent;
    border-radius: 999px;
    width: 100%;
    font-size: 20px;
    outline: none;
    margin-bottom: 20px;
}